@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

/* Default Site Configuration */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #ed91ff;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #aaaaaa; 
}
body::-webkit-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 3px; 
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.flex {
    display: flex;
}
/* End Default Site Configuration */ 

/* Start Things I don't know */
.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #77ffc0;;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #273a3052;
}
.btn-other {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    opacity: 1;
}
.btn-other::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-other:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-other::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-other:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #77ffc0;;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #273a3052;
}
.btn-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-login:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
@keyframes go-up {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes go-back {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}
.btn-login:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal both;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 11.9em;
    }
}
@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}
.typing-effect {
    overflow: hidden; 
    display: inline-block; 
}
/* End Things I don't know */

/* Start Header Menu */
header {
    background-color: #ed91ff;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1000;
    height: 110px;
    width: 100%;
}
/* Soon = Logo */
.soon {
    display: flex;
    align-items: center;
}
.soon > img {
    width: auto;
    height: 200px;
    margin-top: -61px;
}
.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #201b2c;
    border: none;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    top: 0px;
}
.nav-item {
    margin: -55px 15px;
}
.nav-link {
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto; 
    font-style: italic;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 400;
    
    text-transform: uppercase;
    padding: 20px;
}
.nav-link::before {
    content: "";
    position: absolute;
    top: 33%;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left; 
    opacity: 0.7;
    transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.login-button button {
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #0187a7;
    margin-top: 3px;
}
/* End Header Menu */

/* Start Mobile Menu */
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
/* End Mobile Menu */

/* Start Dark Full */
.dark .edge {
    margin-top: -70px;
    border-top: 2px solid #ffffff;
}
.dark main {
    background-color: white;
}
.dark .nav-link {
    color: #ffffff;
}
.dark header {
    background-color: #8a2be2;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}
.dark .section-one-home h1 {
    color: black ;
}
.dark .section-one-home span {
    color: #2600ff;
}
.dark .section-one-home p {
    color: #000000;
}
.dark .section-one-home button {
    background-color: #000000;
    color: #ffffff;
}
.dark .dark-mode-button button i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.dark-mode-button button i {
    color: white;
    font-size: 20px;
}
.dark .transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}
.transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}
.dark .section-two-specialties {
    background-color: #8a2be2;
}
.dark .section-two-specialties span {
    color: #00f7ff;
}
.dark .section-two-specialties .specialties-box {
    color: #00f7ff;
}
.dark .section-two-specialties .specialties-box i {
    color: #00f7ff;
}
.dark .section-three-about-me {
    background-color: #ffffff;
}
.dark .section-three-about-me h2 {
    color: #2600ff;
}
.dark .section-three-about-me .txt-on span {
    color: #000000;
}
.dark .section-three-about-me .txt-on p {
    color: #000000;
}
.dark .section-three-about-me .txt-on button {
    background-color: #000000;
}
.dark .section-three-about-me .txt-on i {
    background-color: #000000;
    color: #ffffff;
}
.dark .section-five-progress {
    background-color: #8a2be2;
}
.dark .section-five-progress .title span {
    color: #00f7ff;
}
.dark .section-five-progress  h3 {
    color: #00f7ff;
}
.dark .section-five-progress .specialties-box  i {
    color: #00f7ff;
}
.dark .portifolio h2 {
    color: #000000;
}
.dark .portifolio span {
    color: #0004ff;
}
.dark .form span {
    color: #0004ff;
}
.dark .form h2 {
    color: #000000;
}
.dark .form input {
    background-color: #0004ff;
}
.dark .form textarea {
    background-color: #0004ff;
}
.dark .form .btn-submit input {
    background-color: #0004ff;
    color: white;
}
.dark footer {
    background-color: #8a2be2;
    color: white;
}
.dark footer button{
    background-color: #000000;
    color: white;
}
.dark footer .line-footer{
    padding: 20px 0;
}
.dark footer .line-footer p {
    color: #ffffff;
}
/* End Dark Full */

/* Start Circle Menu */
.container {
    position: relative;
    height: 0px;
}
.menu-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 25px;
}
.menu-2 {
    position: fixed;
    bottom: 0;
    top: 70%;
    left: -85%;
    z-index: 1000; 
}
.menu-a i{
    margin-left: 23px;
}
.menu-btn, .menu-a {
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border: 2px solid #888888;
    border-radius: 50%;
    background-color: #888888;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
}
.menu-btn {
    z-index: 2;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
    transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
}
.menucircular {
    display: none;
}
.menucircular:checked + .menu-btn .line-one {
    -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
    transform: translate3d(0, 0, 0)rotate(45deg);
}
.menucircular:checked + .menu-btn .line-two {
    -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    transform: translate3d(0, 0, 0)scale(0.1, 1.0);
}
.menucircular:checked + .menu-btn .line-three {
    -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
    transform: translate3d(0, 0, 0)rotate(-45deg);
}
.menucircular:checked ~ .menu-a:nth-child(3) {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0.1px, -100px, 0);
    transform: translate3d(0.1px, -100px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(4) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, -50px, 0);
    transform: translate3d(90px, -50px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(5) {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(90px, 50px, 0);
    transform: translate3d(90px, 50px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(6) {
    -webkit-transition-duration: .45s;
    transition-duration: .45s;
    -webkit-transform: translate3d(0.1px, 100px, 0);
    transform: translate3d(0.1px, 100px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(7) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-90px, -50px, 0);
    transform: translate3d(-90px, -50px, 0);
}
.menucircular:checked + .menu-btn {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0.9, 0.9)translate3d(0, 0, 0);
    transform: scale(0.9, 0.9)translate3d(0, 0, 0);
}
.menucircular:checked ~ .menu-a {
    -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    transition-timing-function: cubic-bezier(.27, .68, .53, .3);
}
.line {
    background-color: #ffffff;
    width: 30px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: -14px;
    margin-top: -1px;
}
.line-one {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.line-two {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.line-three {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
.menu-btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: inset 1px 1px 2px #00FF08, inset 1px -1px 2px #0340d0,
    inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
}
.ai-1 {
    background-color: #888888;
}
.ai-1:hover {
    background-color: #504f4f;
    color: #ed91ff;
}
.ai-2 {
    background-color: #888888;
}
.ai-2:hover {
    background-color: #504f4f;
    color: #ed91ff;
}
.ai-3 {
    background-color: #888888;
}
.ai-3:hover {
    background-color: #504f4f;
    color: #ed91ff;
}
.ai-4 {
    background-color: #888888;
}
.ai-4:hover {
    background-color: #504f4f;
    color: #ed91ff;
}
.ai-5 {
    background-color: #888888;
}
.ai-5:hover {
    background-color: #504f4f;
    color: #ed91ff;
}
/* End Circle Menu */

/* Start Section One-Home*/ 
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
section.section-one-home {
    margin-top: 220px;
    height: 53rem;
}
h1 {
    margin-top: -390px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: -100px;
    margin-right: 500px;
    font-weight: 400;
    font-size: 50px;
    animation: go-up 2s;
}
h1 span {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: #00f7ff;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s;
}
.first-section-home span {
    color: #77ffc0;
    font-size: 50px;
    font-weight: 400;
}
p.paragraph {
    color: #fff;
    margin-left: -100px;
    margin-right: 600px;
    text-align: justify;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 40px;
    animation: go-up 2s;
}
.text-box button {
    border: none;
    border-radius: 30px;
    height: 53px;
    width: 255px;
    text-transform: uppercase;
    color: #ed91ff;
    font-weight: 500;
    background-color: #ffffff;
    margin-left: 150px;
    margin-top: -6px;
    cursor: pointer;
    transition: .2s;
    animation: go-up 2s;
}
.button-1 button:hover {
    box-shadow: 0px 0px 8px #77ffc0;
    transform: scale(1.05);
}
.my {
    position: fixed;
    top: 100px;
    right: 100px;
    height: 200px;
    border-radius: 50%;
    margin-left: 9px;
    margin-top: -63px;
    opacity: 1;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
}
img.my {
    position: relative;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    overflow: hidden;
}
.circle-wrapper {
    position: relative;
    top: 100px;
    right: 100px;
    width: 455px;
    height: 455px;
    border-radius: 50%;
    margin-left: 999px;
}
.loader-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -75px;
    border: 5px solid transparent;
    border-top: 15px solid #00ffee;
    border-radius: 50%;
    animation: girar 2s linear infinite;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
}
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* End Section One-Home */

/* Start Section One-Skills */
.section-one-skills {
    background: #80cdf1;
    height: 55rem;
    width: 105%;
}
.section-one-skills .heading {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e5ff00;
    margin-bottom: 100px;
}
.section-one-skills span {
    color: #ffffff;;
}
.section-one-skills .container {
    background: rgb(255, 255, 255);
    color: #00FF08;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    height: auto;
    margin-top: 2rem;
    left: 11.5%;
}
.section-one-skills .container .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.section-one-skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: #a7a7a7;
    transition: 0.3s ease;
    cursor: pointer;
}
.section-one-skills .container .bar:hover {
    box-shadow: 0 4px 20px rgb(8, 240, 220);
    transform: scale(1.10);
}
.section-one-skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.section-one-skills .container .bar .info span {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}
.info img {
    width: auto;
    height: 50px;
    border-radius: 0px;
}
/* End Section One-Skills */

/* Start Section Two */
section.section-two-specialties {
    padding: 40px 4%;
    margin-top: 10px;
    height: 52rem;
}
section.section-two-specialties .flex {
    gap: 60px;
}
h2.title {
    color: #FFF;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    animation: go-back 2s;
    margin-top: 100px;
}
h2.title span {
    color: #00ffee;
    font-weight: 400;
}
.section-two-specialties .specialties-box {
    color: #FFF;
    padding: 40px;
    border-radius: 20px;
    text-align: justify;
    transition: .2s;
    margin-left: -50px;
    margin-right: 20px;
}
.section-two-specialties .specialties-box i {
    font-size: 50px;
    color: #00ffee;
}
.section-two-specialties .specialties-box h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0;
}
a {
    color: #FFF;
    text-decoration: none;
}
.section-two-specialties .specialties-box:hover {
    transform: scale(1.10);
    box-shadow: 0 0 30px #ffffff;
}
.section-two-specialties .specialties-box {
    cursor: pointer;
}
/* End Section Two */

/* Start Section Three */
section.section-three-about-me .flex{
    align-items: center;
    gap: 60px;
    margin-top: 0px;
    margin-bottom: -100px;
}
section.section-three-about-me {
    margin-top: 10px;
}
.section-three-about-me .txt-on {
    color: #fff;
}
.txt-on {
    margin-left: 0px;
    margin-right: 0px;
    animation: go-back 2s;
}
.section-three-about-me .txt-on h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-right: -40px;
    padding: 0 50px 0;
}
.section-three-about-me .txt-on h2 span {
    color: #00f7ff;
    display: block;
    font-weight: 400;
}
.section-three-about-me .txt-on p {
    margin: 10px 0px;
    margin-right: 0px;
    text-align: justify;
    line-height: 30px;
    font-size: 23px;
    font-weight: 200;
    padding: 0 50px 0;
}
.img-on img {
    width: 400px;
    height: 500px;
    margin-left: 50px;
    border-radius: 20px;
    margin-left: 150px;
    border: 5px solid #fff;
}
/* Modify Button */
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00f7ff;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin: 0px -30px;
    margin-top: 20px;
    transition: .2s;
    margin-left: 50px;
}
.btn-social button i {
    color: #ed91ff;
}
.btn-social button:hover {
    transform: scale(1.10);
    box-shadow: 0 0 20px #ffffff;
}
/* End Section Three */

/* Start Section Four */
.section-four-advence {
    background: #80cdf1;
    height: 97.2rem;
    margin-top: 300px;
}
/* Line */
.section-four-advence .timeline {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
}
/* Line ZigZag */
.line-zigzag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}
/* Line Neon */
.path-neon {
    stroke: #11ffeb;
    filter:
        drop-shadow(0 0 5px #11ffeb)
        drop-shadow(0 0 10px #11ffeb)
        drop-shadow(0 0 20px #11ffeb);
    animation: neonPulse 2s infinite alternate;
}
/* Energy Passing Effect */
@keyframes neonPulse {
    0% {
      stroke: #11ffeb;
      filter:
        drop-shadow(0 0 5px #002fff)
        drop-shadow(0 0 10px #11ffeb);
    }
    100% {
      stroke: #eeeeee;
      filter:
        drop-shadow(0 0 15px #b5ff08)
        drop-shadow(0 0 25px #ff5100);
    }
}
/* Spark Effect */
.spark {
    filter: drop-shadow(0 0 5px #ff7b00) drop-shadow(0 0 15px #fbff00);
    animation: sparkAnimation 0.3s infinite alternate; 
}
@keyframes sparkAnimation {
    0% {
      transform: scale(1);  
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1); 
    }
}
.section-four-advence .container {
    padding: 60px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.section-four-advence .content::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 250px;
    right: -20px;
    top: 30px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: violet;
    transform: translateX(-1825%);
    transform: translateY(30%);
}
.section-four-advence .left {
    left: -50.5%;
    margin-left: auto;
    margin-bottom: 150px;
}
.section-four-advence .right {
    left: 6.7%; 
    margin-left: auto;
    margin-bottom: 150px;
 }
 .section-four-advence .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 40px;
    border-width: 10px 0 10px 10px;
    transform: translateX(-50%);
}
.section-four-advence .headring {
    text-align: center;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.section-four-advence .headring span {
    text-align: center;
    color: #e5ff00;
    font-size: 50px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 40px;
}
.section-four-advence .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 2;
    right: 620px;
    border-width: 10px 0 10px 10px;
    transform: translateX(-50%);
}
.section-four-advence .right::after {
    left: -16px;
}
.section-four-advence .content {
    margin-left: 0px;
    background: #a7a7a7;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}
.section-four-advence .content:hover {
    transform: scale(1.10);
    box-shadow: 0 0 30px #ffffff;
}
.section-four-advence .content .tag {
    font-style: italic;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 12px;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
}
.section-four-advence .content .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}
.section-four-advence .content .decs p {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    color: #fff;
    text-align: justify;
    margin-right: 20px;
}
/* Point */
.section-four-advence .container.left::before {
    content: '';
    position: absolute;
    top: 90px;
    right: calc(96.3% + 10px);
    transform: translateY(100%);
    transform: translateX(6590%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #a7a7a7;
}
.section-four-advence .container.right::before {
    content: '';
    position: absolute;
    top: 90px;
    left: calc(96.5% + 10px);
    transform: translateY(-50%);
    transform: translateX(-6590%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #a7a7a7 transparent transparent;
}
/* End Section Four*/

/* Start Section Five*/
section.section-five-progress {
    padding: 40px 4%;
}
section.section-five-progress.flex {
    gap: 60px;
}
.section-five-progress .specialties-box {
    color: #FFF;
    padding: 40px;
    border-radius: 20px;
    text-align: justify;
    font-weight: 200;
    transition: .2s;
    margin-left: -20px;
    margin-top: -20px;
}
.section-five-progress .specialties-box i {
    font-size: 50px;
    color: #00f7ff;
}
.section-five-progress .specialties-box h3 {
    font-size: 30px;
    margin: 15px 0;
    font-weight: 400;
}
.section-five-progress .specialties-box:hover {
    transform: scale(1.10);
    box-shadow: 0 0 30px #fffffffb;
}
.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-right: -200px;
}
.box-circle svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
}
.box-2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-left: -400px;
    margin-right: 400px;
}
.box-circle-2 svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 23px;
}
.box-3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 100px;
}
.box-circle-3 svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
    margin-right: 30px;
}
circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: #000;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #e7e7e7;
}
circle:nth-child(2) {
    stroke-dashoffset: calc(440 - 404.8);
    stroke: #08e2f1;
}
.circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #e7e7e7;
}
.circle:nth-child(2) {
    stroke-dashoffset: calc(440 - 308);
    stroke: #08e2f1;
}
.circle-2:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #e7e7e7;
}
.circle-2:nth-child(2) {
    stroke-dashoffset: calc(440 - 396);
    stroke: #08e2f1;
}
.box-circle h3 {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 35px;
    font-weight: 200;
    color: #FFF;
}
.box-circle-2 h3 {
    margin-left: 0px;
    font-size: 35px;
    margin-left: -50px;
    font-weight: 200;
    color: #FFF;
}
.box-circle-3 h3 {
    margin-left: 40px;
    font-size: 35px;
    font-weight: 200;
    color: #FFF;
}
.number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.number-2 {
    position: absolute;
    margin-top: -300px;
    margin-left: -45px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.number-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* End Section Five */

/* Start Section Six */
section.portifolio {
    margin-top: 160px;
    margin-bottom: 250px;
    background-color: #80cdf1;
}
section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}
.img-port {
    width: 360px;
    height: 460px;
    background-color: #687a69;
    margin-left: 85px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    border-radius: 40px;
    position: relative;
    left: -3%;
}
.img-port:hover {
    background-position: 100% 100%;
}
.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}
.overplay:hover {
    opacity: 1;
}
/* End Section Six */

/* Start Section Seven */
section.form {
    padding: 80px 4%;
    margin-top: -300px;
    margin-bottom: -88.8px;
    background-color: #80cdf1;
}
form {
    max-width: 500px;
    margin: 0px auto ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    margin-left: 493px;
}
form input, form textarea {
    width: 100%;
    background-color: transparent;
    border: 2px solid rgb(252, 252, 252);
    box-shadow: 1px 1px 1px 1px rgb(209, 209, 209);
    outline: 0;
    padding: 20px 15px; 
    border-radius: 15px;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
}
form input, input textarea:hover {
    box-shadow: 0 0 15px #9696968e;
}
form input:hover {
    transform: scale(1.05);
}
form input::placeholder {
    color: #ffffff;
    font-weight: 200;
}
form textarea {
    resize: none;
    max-height: 200px;
}
form textarea:hover {
    transform: scale(1.10);
}
form textarea::placeholder {
  color: #ffffff;
  font-weight: 200;
}
form .btn-submit {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
form .btn-submit input {
    width: 120px;
    background-color: #fff;
    color: #80cdf1;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    border: 0px solid transparent;
    margin-left: 20px;
}
form .btn-submit input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}
/* End Section Seven */

/* Start Footer */
.interface-footer {
    max-width: 100%;
}
footer {
    margin-top: 60px;
}
footer .flex {
    justify-content: space-between;
}
.edge {
    margin-top: -95px;
    width: 100vw;
    border-top: 5px solid #ffffff;
}
footer .line-footer {
    padding: 20px 0;
}
footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}
footer .line-footer p a{
    color: #fff;
    margin-left: 10px;                
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    text-transform: lowercase;
}
.soon-footer img {
    width: 100px;
    height: 100px;
    margin-left: 270px;
}
.btn-social-footer button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #00f7ff;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    margin-top: -49px;
    margin-right: 10px;
    float: right;
}
.btn-social-footer button i {
    color: #ed91ff;
}
.btn-social-footer button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #ffffffc2;
}
/* End Footer */
